body {
        background: -webkit-gradient(linear, top left, bottom left, from(#ff5858), to(#f857a6));
        background: -webkit-linear-gradient(#ff5858, #f857a6);
        background: linear-gradient(#ff5858,#f857a6);
        color: white;
        font-size: 1.5em;


}
p.lead {
    font-weight: bold;
    text-align: center;
}
h1{
    margin-bottom: 40px;
    font-family: 'Anton', sans-serif;
    text-align: center;
    font-size: 40px;
    text-transform: uppercase;
}
label {
    color: #fff;
}
.btn-send {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin-bottom: 20px;
}
.btn-primary {
    font-weight: 300;
    margin-bottom: 20px;
}

.form-control {
    display: block;
    width: 75%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #fff;
    }